<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint officia asperiores atque! Expedita quibusdam provident fugit, excepturi ab esse repellat voluptatum sequi nam neque alias dolorum molestiae nemo, eveniet vero mollitia hic id eum tempore saepe! Nostrum consectetur sunt ut.</p>
    </div>
</div>