<div class="p-4 bg-secondary" style="--bs-bg-opacity: .15; color:azure">
  <h1 class="display-5">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Application, daily use</p>
  <hr class="my-4" />
  <p>It is an application designed for daily use, I developed it putting into
    practice skills more based on the backend, using a database for each user's
    notes!</p>
  <a
    href="https://hupanfabricio.github.io/mi_portafolio/"
    class="btn btn-primary btn-lg"
  >FabriCode</a>
</div>