<div class="p-4 bg-secondary" style="--bs-bg-opacity: .15;">
    <h1 class="display-5">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ex aliquam maiores est earum itaque, facilis praesentium accusamus a modi nemo at libero alias quos nam, architecto ducimus iste saepe?</p>
    <a href="https://hupanfabricio.github.io/mi_portafolio/" class="btn btn-primary btn-lg">FabriCode</a>
</div>